:root {
    --cor-principal: #D88C9A;
    --cor-subprincipal: #C1495F;
    --cor-font-principal: #F2D8DD;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#d68b98d5, #C1495F);
    color: var(--cor-font-principal);
    margin: 0;
    padding: 0;
    height: 7000px;
    overflow: visible;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 70%;
}

ul {
    display: flex;
    gap: 50px;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-style: bold;
}

nav a {
    text-decoration: none;
    font-size: 1.1em;
    color: var(--cor-font-principal);
}

nav a:hover {
    text-decoration: underline;
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    border: 2px solid #d2ab99;
    border-radius: 10px;
    padding: 10px;
    width: calc(33.333% - 20px);
    box-sizing: border-box;
}

.product h3 {
    color: #d2ab99;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
}

/* section box */
.section-box-one {
    width: 100%;
    box-shadow: 0 2px 4px rgba(197, 8, 8, 0.1);
    padding-bottom: 17em;
}

.titulo-box-header {
    color: #F2D8DD;
    font-size: 100px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 0;
}

.subtitulo-box-header {
    display: flex;
    justify-content: center;

}

/* bolo info */
.inf-bolo,
.inf-bolo-p {

    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 0px;
    list-style: disc;
    font-size: 15px;
    font-weight: 300;
}

.lista-recheios,
.lista-recheios p {
    display: flex;
    flex-direction: column;
    gap: 0;
    font-size: 15px;
    font-weight: 300;
    list-style: decimal;
    margin: 0;
}

/* Animação das bolinhas */
.bubbles {
    position: fixed;
    /* Alterado para 'fixed' para que as bolhas comecem no rodapé */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.bubbles span {
    position: absolute;
    display: block;
    width: 20px;
    border-radius: 50%;
    /* Ajustado para bolhas mais suaves */
    height: 20px;
    background: linear-gradient(#d68b98d5, #c46e7e);
    bottom: -150px;
    animation: bubble 10s infinite;
    transition-timing-function: linear;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-2000px);
    }
}

.bubbles span:nth-child(odd) {
    animation-duration: 12s;
}

.bubbles span:nth-child(even) {
    animation-duration: 15s;
}

.bubbles span:nth-child(4n) {
    animation-duration: 20s;
}

/* ESTILIZAÇÃO DAS INFO */

.info-section {
    display: flex;
    justify-content: center;
    padding-top: 2em;
}

.info-box-one {
    margin: 4em;
    box-shadow: 0px 0px 10px rgba(197, 8, 8, 0.331);
    border-radius: 10px;
    padding: 1em 2em;
    height: 320px;
}

.strong-one {
    font-size: 20px;
    font-weight: 600;
}

.info-subox-one {
    display: flex;
    margin-bottom: 7em;
}

.flores-one {
    display: flex;
    justify-content: space-between;
}

.flores-two {
    padding: 0.5em 2em 0.5em 2em;
    display: flex;
    justify-content: space-between;
}

.info-subox-one img {
    width: 30px;
    height: 30px;
    display: flex;
    margin-top: 0.6em;
    margin-left: 0.6em;
}

.section-box-two {
    margin: 0.7em 0.3em;
    box-shadow: 0px 0px 10px rgba(197, 8, 8, 0.331);
    border-radius: 10px;
    padding: 1em 2em;
    height: 120px;
    width: 380px;
}

.section-box-two h2 {
    margin: 0.3em;
}

.section-box-three {
    margin: 4em 0.3em;
    box-shadow: 0px 0px 10px rgba(197, 8, 8, 0.331);
    border-radius: 10px;
    padding: 1em 2em;
    height: 450px;
    width: 380px;
}

.section-box-four {
    margin: 6em 4em;
    box-shadow: 0px 0px 10px rgba(197, 8, 8, 0.331);
    border-radius: 10px;
    padding: 1em 2em;
    height: 330px;
    width: 500px;
}

.list-exemple {
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.flores-three {
    display: flex;
    justify-content: space-between;
}

.titulo-list-p {
    display: flex;
    justify-content: center;
}

.list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 colunas de largura igual */
    gap: 20px;
    /* Espaçamento entre os itens do grid */
    padding: 20px;
    /* Espaçamento interno para o container */
    margin: 3em;
}

.list-products li {
    box-shadow: 0px 0px 10px rgba(197, 8, 8, 0.331);
    padding: 1em;
    margin: 0.5em;
    border-radius: 10px;
    /* Bordas arredondadas */
    background-color: var(--cor-principal);
    /* Cor de fundo para destacar os itens */
    color: var(--cor-font-principal);
    /* Cor do texto */
    list-style: none;
    /* Remover marcadores de lista */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 580px;
    width: 300px;
}

.img-bolos {
    width: 300px;
    height: 330px;
    border-radius: 10px;
}

.list-products li div h4 {
    margin: 0.1em 0 0.1em 0;
    font-size: 25px;
}

.list-products li div p {
    font-weight: 300;
    margin: 0;
}


.price-list{
    margin-top: 5em;
    box-shadow: 0px 0px 10px rgba(197, 8, 8, 0.331);
    border-radius: 10px;
    padding: 0.5em;
}

/* numeração box */

.div-box-one{
    padding: 1.2em;
}
.div-box-two{
    padding: 1em;
}
.div-box-three{
    padding: 1em;
}
.div-box-four{
    padding: 0.67em;
}
.div-box-five{
    padding: 0.67em;
}
.div-box-six{
    padding: 0.67em;
}
.div-box-seven{
    padding: 0.67em;
}
.div-box-eight{
    padding: 0.67em;
}
.div-box-nine{
    padding: 0.67em;
}
.div-box-ten{
    padding: 0.4em;
}
.div-box-eleven{
    padding: 0.67em;
}
.div-box-twelve{
    padding: 0.67em;
}
.div-box-thirteen{
    padding: 0.67em;
}
.div-box-fourteen{
    padding: 0.67em;
}
.div-box-fifteen{
    padding: 0.67em;
}
.div-box-sixteen{
    padding: 0.67em;
}
.div-box-seventeen{
    padding: 0.67em;
}
.div-box-eighteen{
    padding: 0.67em;
}
.div-box-nineteen{
    padding: 0.67em;
}
.div-box-twenty{
    padding: 0.67em;
}
.div-box-twenty-one{
    padding: 0.67em;
}
.div-box-twenty-two{
    padding: 0.67em;
}
.div-box-twenty-three{
    padding: 0.67em;
}
.div-box-twenty-four{
    padding: 0.67em;
}
.div-box-twenty-five{
    padding: 0.67em;
}
.div-box-twenty-six{
    padding: 0.67em;
}
.div-box-twenty-seven{
    padding: 0.67em;
}
.div-box-twenty-eight{
    padding: 0.67em;
}
.div-box-twenty-nine{
    padding: 0.67em;
}
.div-box-thirty{
    padding: 0.67em;
}
.div-box-thirty-one{
    padding: 0.67em;
}
.div-box-thirty-two{
    padding: 0.67em;
}
.div-box-thirty-three{
    padding: 0.67em;
}
.div-box-thirty-four{
    padding: 0.67em;
}
.div-box-thirty-five{
    padding: 0.67em;
}
.div-box-thirty-six{
    padding: 0.67em;
}
.div-box-thirty-seven{
    padding: 0.67em;
}
.div-box-thirty-eight{
    padding: 0.67em;
}
.div-box-thirty-nine{
    padding: 0.67em;
}
.div-box-forty{
    padding: 0.67em;
}
